*{
  font-family: 'Bangers', cursive;
}
body {
background: -webkit-linear-gradient(right , red, yellow)
}
/* haut de pages */
header img {
    position: relative;
    left: 190px;
    height: 10%;
    width: 70%;
}
.titre {
  text-align: center;
}
li{
  list-style: none;
  display: inline;
  margin-right: 20px;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: black;
  background-color: silver;
  border: 1px solid grey ;
  border-radius: 2px;
}

/*fin de haut de page */
/*debut partie centrale */
iframe{
  position: relative;
  left: 30%;
  width: 40%;
}
section h4 , section address {
  margin-top: 30px;
  text-align: center;
}
form {
  width: 15%;
  height: 30%;
  position: relative;
  text-align: center;
  left: 40%;
  margin-top: 50px;
}
.message {
  height: 50px;
}
/*fin de partie centrale */
/*debut partie footer */
footer nav {
  margin-top: 30px;
}
footer  {
  text-align: center;
}
@media ( min-width :320px) and ( max-width: 740px)  {
  iframe , address , form{
    width: 23%;
    display: inline;

  }

}
