*{
  font-family: 'Bangers', cursive;
}
body {
background: -webkit-linear-gradient(right , red, yellow)
}
a {
  text-decoration: none;
  color: black;
  background-color: silver;
  border: 1px solid grey ;
  border-radius: 2px;
}
/* haut de pages */
header img {
    position: relative;
    left: 190px;
    height: 10%;
    width: 70%;
}
.titre {
  text-align: center;
}
li{
  list-style: none;
  display: inline;
  margin-right: 20px;
  font-size: 25px;
}
/*fin de haut de page */
/*debut partie centrale */
section {
  margin-top: 60px;
  margin-bottom: 90px;
}
th , td , table {
  border:2px solid black;
  text-align: center;
}
.service {
  background: silver;
}
.prix {
  background-color: lightgreen;
}
/*fin partie centrale*/
/*debut partie footer */
footer nav {
  margin-top: 30px;
}
footer  {
  text-align: center;
}
